nav{
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content:space-around;

    .navigation{
        display: flex;
        list-style: none;
    }

    .navigation-liste{
        padding: 10px;
    }

    .num{
        list-style: none;
    }

    .num-liste{
        padding: 5px;
        font-size: 10px;
    }

    #num{
        text-decoration: none;
        color: black;
        font-size: 18px;
        border: 3px solid black;
        padding: 5px;
        border-radius: 20px;
    }

    

    #logo_nav{
        width: 130px;
        height: 70px;
        padding: 10px;
        background-color: black;
        border-radius: 10px;
        background-size: cover;
    }

    .shop{
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}